{# admin/base/widget.html.twig #}
<!-- Widget ID -->
<div id="wid-id-{{ id }}" class="jarviswidget" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false"{% if path is defined %} data-widget-load="{{ path(path) }}"{% elseif pathReady is defined %} data-widget-load="{{ pathReady }}"{% endif %}>
    <header>
        {% if icon is defined %}<span class="widget-icon"><i class="fa {{ icon }}"></i></span>{% endif %}
        <h2>
            {{ title }}
        </h2>
    </header>
    <!-- widget div -->
    <div>
        
        <!-- widget content -->
        <div class="widget-body{% if noPadding is defined %} no-padding{% endif %}">
            <p>Loading content...</p> <i class="fa fa-refresh fa-spin"></i>
        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div-->
</div>
<!-- end widget -->