{# admin/provider/provider/index.html.twig #}

{% extends 'admin/providers/base.html.twig' %}

{% block breadcrumbs %}
{{ parent() }}
<li>{{ provider.getName() }}</li>
{% endblock %}

{% block pageHeader %}
{{ parent() }} > {{ provider.getName() }}
{% endblock %}

{% block body %}
<!-- row -->
<div class="row">
    <!-- NEW WIDGET START -->
    <article class="col-md-12 sortable-grid ui-sortable">
        <!-- Widget ID -->
        <div id="wid-id-1" class="jarviswidget" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"><i class="fa fa-edit"></i></span>
                <h2>
                    Provider form
                </h2>
            </header>
            <!-- widget div -->
            <div>
                <!-- widget content -->
                <div class="widget-body">
                    {{ form_start(form) }}
                        <fieldset>
                            <legend>
                                Provider form
                            </legend>
                            <div class="form-group">
                                <label class="control-label col-md-1">Name</label>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa {{ include('admin/providers/icon.html.twig') }}"></i></span>
                                                {{ form_widget(form.name) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1">Domain</label>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-map"></i></span>
                                                {{ form_widget(form.domain) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1">Tags</label>
                                <div class="col-md-10" id="providerTagsDiv" data-tag="{{ form_widget(form.providerTags.vars.prototype.tag)|e('html_attr') }}" data-value="{{ form_widget(form.providerTags.vars.prototype.value)|e('html_attr') }}">
                                    {% for tag in form.providerTags %}
                                    <div class="row" style="margin-bottom: 2px;">
                                        <div class="col-sm-2">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                                                {{ form_widget(tag.tag) }}
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                                                {{ form_widget(tag.value) }}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {{ form_widget(form.providerTags) }}
                                    <div class="row" id="providerTagsButton">
                                        <div class="col-sm-2">
                                            <a href="#" class="btn btn-default" id="addProviderTag">
                                                <i class="fa fa-plus"></i> Add a tag
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_widget(form.submit)|raw }}
                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
                <!-- end widget content -->
            </div>
            <!-- end widget div-->
        </div>
        <!-- end widget -->
    </article>
    <!-- NEW WIDGET END -->
</div>
<!-- end row -->
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function(){
            $('#providerTagsDiv').data('index', $('#providerTagsDiv').find(':input').length / 2);

            function bindClick(){
                $('#addProviderTag').click(function(e){
                    e.preventDefault();

                    addProviderTagForm();
                });
            }

            function addProviderTagForm(){
                var index = $('#providerTagsDiv').data('index');

                var tag = $('#providerTagsDiv').data('tag');
                tag = tag.replace(/__name__/g, index);

                var value = $('#providerTagsDiv').data('value');
                value = value.replace(/__name__/g, index);

                var str = '';

                str += '<div class="row" style="margin-bottom: 2px;">';
                str += '<div class="col-sm-2">';
                str += '<div class="input-group">';
                str += '<span class="input-group-addon"><i class="fa fa-tag"></i></span>';
                str += tag;
                str += '</div>';
                str += '</div>';

                str += '<div class="col-sm-2">';
                str += '<div class="input-group">';
                str += '<span class="input-group-addon"><i class="fa fa-edit"></i></span>';
                str += value;
                str += '</div>';
                str += '</div>';
                str += '</div>';

                var ptb = $('#providerTagsButton');

                $('#providerTagsButton').remove();

                $('#providerTagsDiv').append(str);
                $('#providerTagsDiv').append(ptb);

                $('#providerTagsDiv').data('index', index + 1);

                bindClick();
            }

            bindClick();
        });
    </script>
{% endblock %}