{# templates/front/index/index.html.twig #}

{% extends 'front/base.html.twig' %}

{% block body %}
<p>main page</p>
<h1>{{ link.getLinkDetails().getTitle() }}</h1>
<a href="{{ link.getLinkDetails().getPrice() }}" target="_blank">{{ link.getLinkDetails().getPrice() }}</a>
<img src="{{ link.getLinkDetails().getImage() }}">
<p><a id="linkButton" href="{{ path('front_redirectPage', { 'id': link.getId() }) }}" target="_blank">CTA</a></p>
<p><a href="{{ path('front_addLink') }}">add link</a></p>
<div id="app">

</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('build/main.js') }}"></script>
{% endblock %}
